html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
a{
  color:rgb(21, 78, 0);
  font-weight: bold;
}
a:hover{
  color: rgb(25, 95, 0);
}
a:visited{
  color: rgb(21, 78, 0);
}

.link:hover{
  color: rgb(25, 95, 0);
}
.link:visited{
  color: rgb(21, 78, 0);
}
textarea{
  min-height: 15vh !important;  
}
.splide__pagination__page{
  background-color: #3f7b63 !important;
}
.splide__pagination__page.is-active{
  background-color: #3f7b63 !important;
  opacity: 1 !important;
}